body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 10px 50px;
}

.logo {
  color: #e50914;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #e50914;
}

.main {
  text-align: center;
  padding: 80px 20px;
}

.tm-container {
  margin: 50px auto;
  width: 60%;
  border: 2px solid #e50914;
  border-radius: 10px;
  overflow: hidden;
}
